<h1>Update <%= @landmark.name %> details:</h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

<!-- UPDATE LANDMARK NAME & YEAR COMPLETED -->
  <label for="name">Landmark Name:</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
  <br><br>
  <label for="year_completed">Landmark Year Completed:</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>">
  <br><br>

<!-- SUBMIT -->
  <input type="submit" value="Edit Landmark">

</form>
