<h1>Create A New Landmark</h1>
<form action="/landmarks" method="POST">
  <!-- Create a new landmark -->
  <label for="landmark_name">Name: </label>
  <input type="text" id="landmark_name" name="landmark[name]"></input>

  <label for="landmark_year_completed">Year: </label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">

  <input type="submit" value="Create New Landmark">
</form>
